html, body{
    margin: 0px;
}

main {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3,1fr);
}

.calculator{
	grid-column: 2/-2;
	grid-row: 2/6;
	display: grid;
	gap: 0.3em;
	padding: 1.2em;
	background-color: cornflowerblue;
	border-radius: .5rem;
	border: none;
	margin: auto;
	box-shadow: inset 0px 0px 2px 2px #514c4c;
}

button {
	margin: 0.1rem;
	width: auto;
	padding: .65em .7em;
	font-size: 2rem;
	background-color: #3e5c9a;
	border-radius: 0.25rem;
	border: none;
	color: #e5e5e5;
	text-shadow: 5px -1px 20px black;
	box-shadow: inset 0px 0px 5px 1px black;
}

input {
	text-align: center;
	min-height: 4em;
	width: auto;
	padding: 4px 0.15rem;
	font-size: 1.5rem;
	font-weight: bold;
	border: 1px solid black;
	border-radius: inherit;
}


p.answer-El {
	margin: 0px;
	border: 1px solid;
	border-top: none;
	height: 3em;
	width: auto;
}

.all--buttons {
	padding: 0.4em;
	border-radius: 0.5rem;
	display: grid;
	gap: .2em;
	grid-template-columns: repeat(5,auto);
}

button:hover {text-shadow: none;box-shadow: none;}

