html, body{
    margin: 0px;
}

div.calculator{
	display: grid;
	gap: 0.3em;
	justify-content: center;
}

div.all--buttons{
    display: grid;
    gap: 0.3em;
    grid-template-columns: repeat(2, auto);
    margin: 1em auto;
    width: fit-content;
    justify-content: space-evenly;
}
div.sign{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px;
}

div.num {
	display: grid;
	grid-template-columns: repeat(3, 4fr);
}

button {
	width: auto;
	padding: 0.53em;
	font-size: x-large;
}

.buttons-operators,.buttons-numbers {
	margin: 0px;
	width: auto;
	display: flex;
	flex-direction: column;
}

.buttons-numbers {
	margin: auto;
}

input[type="number"] {
	height: 5em;
	width: auto;
}

.div--input {
	margin: auto;
}

main.calculator {
	display: flex;
	justify-items:center;
	justify-content: space-evenly;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}