html, body{
    margin: 0px;
}

div.calculator{
	display: grid;
	gap: 0.3em;
	justify-content: center;
	padding: 1em;
}

div.numbers-and-operators{
    display: grid;
    gap: 0.3em;
    grid-template-columns: repeat(2, auto);
    margin: 1em auto;
    width: fit-content;
    justify-content: space-evenly;
}
div.sign{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 0px;
}

div.num {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
}

button {
	width: auto;
	padding: 0.5em;
	font-size: 1.8em;
}

.buttons-operators,.buttons-numbers {
	
	width: auto;
	display: flex;
	flex-direction: column;
}

input {
	height: 5em;
	width: auto;
}

.div--input {
	margin: auto;
}

main.calculator {
	display: flex;
	justify-items:center;
	justify-content: space-evenly;
	flex-direction: column;
	width: fit-content;
	margin: auto;
}

.recieve-input {
	display: grid;
}

p.answer-El {
	margin: 0px;
	border: 1px solid;
	border-top: none;
	height: 3em;
	width: auto;
}

.buttons-operators {
	grid-template-rows: repeat(2, 6fr);
	display: grid;
}