body{
    min-width: 400px;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero {
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #59d436;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    width: 25px;
    cursor: pointer;
}

#expand-Butn{
    width: 60px;
    margin-bottom: 10px;
}

#input-El{
    height: 60px;
    width: 40px;
}

#cancel-Butn{
    margin-top: 5px;
    margin-left: 39px;
    cursor: pointer;
}

#cancel-All{
    cursor: pointer;
}

#plus, #minus, #multiply, #divide {
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    background-color: #6794dc;
    cursor: pointer;
}  

#square-Root, #exp-2 {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#decimals, #Ans{

    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 2px;
    height: 30px;
    width: 30px;
    background-color: #6794dc;
    cursor: pointer;

}
#equal {
    border: none;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;

    padding: 5px;
    height: 35px;
    width: 62px;
    background-color:;
    cursor: pointer;
    background-color:rgb(192 109 179);
}